doctype html
html
   head
     title #{title}
   body
     .container
       h1 Contact
       form(method='POST')
         .form-group
           label Name
           input(type='text', name='name', placeholder='Name')
         .form-group
           label Email
           input(type='email', name='email', placeholder='Email')
         .form-group
           label Message
           textarea(name='message', placeholder='Message')
           input(type='submit', value='Contact us')




