extends ./layout.jade

block content
  h1 Welcome to #{title}
  i.fa.fa-thumbs-o-up
  p Today's date is #{date.toLocaleDateString('en-US')}
  div
    i.fa.fa-calendar
    button#get-cal Get Calendar
  pre#cal #{calendar}

  script(src='../vendor/jquery/dist/jquery.min.js')
  script(src='../javascript/app.js')
